{% extends 'adminTemplate.html.twig' %}

{% block body %}

  <!-- Delete Section -->
  <section id="post">
    <div class="container">
      <div class="row section-title text-center center">
        <!-- Title -->
        <h2>Suppression</h2>
        <hr>
        <div class="col-md-8 col-md-offset-2">
          <div class="post-text">
            <p>"{{ comment.content }}"</p>
            <p>Etes-vous sûr de vouloir supprimer le commentaire de "{{ comment.author }}" ?</p>
            <!-- Buttons -->
            <p class="text-center">
              <a class="btn btn-primary" href="/admin/delete-comment/{{ post }}/{{ comment.id }}"><i class="fa fa-trash"></i> Effacer</a> 
              <a class="btn btn-primary" href="/admin/comments-post/{{ post }}"><i class="fa fa-newspaper-o"></i> Retour article</a>
            </p>
          </div>
        </div>
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </section> <!-- End Section -->
    
{% endblock %}