{% extends 'adminTemplate.html.twig' %}

{% block body %}

  <!-- Post Section -->
  <section id="post">
    <div class="container">
      <div class="row section-title text-center center">
        <div class="col-md-12 text-center">
          <h2>{{ post.title }}</h2>
          <hr>
          <p>auteur: {{ post.author }}</p>
          <p>publication: {{ post.publicationDate|date('d/m/Y') }}{{ (post.modificationDate == null) ? '' : ' - modification: ' ~ post.modificationDate|date('d/m/Y') }}</p>       
          <img src="{{ app.request.basepath }}/img/portfolio/post-{{ post.id }}.jpg" class="img-responsive">
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="post-text">
            <div>
              {{ post.content|raw }}
            </div>
            <!-- Buttons -->
            <p class="text-center">
              <a class="btn btn-primary" href="/admin/confirm-delete-post/{{ post.id }}"><i class="fa fa-trash"></i> Effacer</a> 
              <a class="btn btn-primary" href="/admin/edit-post/{{ post.id }}#post"><i class="fa fa-edit"></i> Modifier</a>
              <!-- Display Post's Link -->
              {% if link != "" %}
                <a class="btn btn-primary" href="#"><i class="fa fa-link"></i> Lien vers le site</a> 
              {% else %}
              {% endif %}
            </p>
            <p>
              <a class="btn btn-primary" href="/admin/posts?page=1"><i class="fa fa-newspaper-o"></i> Retour articles</a>
            </p>
          </div>
        </div>
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </section> <!-- End Post Section -->
    
{% endblock %}