{% extends 'homeTemplate_2.html.twig' %}

{% block body %}

  <!-- Posts List Section -->
  <section id="portfolio">
    <div class="container">

      <!-- Title -->
      <div class="section-title text-center center">
        <h2>Liste des articles</h2>
        <hr>
      </div>

      <!-- Posts List -->
      <div class="row">
        <div class="portfolio-items">

          <!-- Posts Loop -->
          {% for post in posts %}
          
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                  <div class="portfolio-item">
                      <div class="hover-bg">
                          <a href="/post/{{ post.id }}?page=1">
                              <div class="hover-text">
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.content|striptags| truncate(60, false, '...')  }}</p>
                              </div>
                              <img src="img/portfolio/post-{{ post.id }}.jpg" class="img-responsive" alt="Project Title"> 
                          </a> 
                      </div>
                  </div>
              </div>

          {% endfor %}

        </div> 
      </div> <!-- End Row -->

      <!-- Pagination -->
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/admin/posts?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!-- Pagination Loop -->
            {% for i in 1..pageCount %}
              <li class="page-item"><a class="page-link" href="/admin/posts?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="/admin/posts?page={{ pageCount }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div> <!-- End Row Pagination -->

    </div> <!-- End Posts List Container -->
  </section> <!-- End Portfolio Section -->
    
{% endblock %}