{% extends 'template.html.twig' %}

{% block body %}

  <!-- Article Section -->
  <div id="article">
    <div class="container">
      <div class="row section-title text-center center">
        <h2>{{ post.title }}</h2>
        <hr>
        <p>publication: {{ post.publicationDate|date('d/m/Y') }} - modification: {{ post.modificationDate|date('d/m/Y') }}</p>
        <div class="col-md-12 text-center"><img src="{{ app.request.basepath }}/img/portfolio/post-{{ post.id }}.jpg" class="img-responsive">
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="article-text">
            <p>{{ post.content }}</p>
            <p class="text-center"><a class="btn btn-primary" href="#"><i class="fa fa-link"></i> Lien vers le site</a> <a class="btn btn-primary" href="/#portfolio"><i class="fa fa-home"></i> Retour Portfolio</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock %}